*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(
    0deg,
    rgb(240, 215, 104),
    rgb(243, 114, 157),
    rgb(183, 48, 93)
  );
}

/* use grid here  */
.container {
  width: 60%;
  top: 40%;
  left: 50%;
  min-width: 450px;
  position: absolute;
  min-height: 100px;
  margin: 40px 0;
  transform: translate(-50%, -50%);
}

.filter {
  margin: 10px 50px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  color: black;
  outline: none;
  width: 85%;
  height: 40px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}

.userprofile {
  align-content: center;
  margin-bottom: 40px;
}

.userdetails {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 90px;
  margin: auto 55px;
}
.userlists {
  font-family: sans-serif;
  font-size: 14px;
  border: 1px ridge rgb(237, 236, 236);
  border-radius: 4px;
  background: #d1d3d4;
  padding-right: 70px;
}

.usertitle {
  display: flex;
  gap: 10px;
  padding: 5px;
}

.useridentity {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.picture {
  width: 50px;
  height: 50px;
}
